@use  "base" as *;
@use  "variables" as *;
@use  "reset" as *;
@use  "classes" as *;
@use  "utils" as *;
@use  "media-queries" as *;

.container {
  min-height: 100vh;
  display: grid;
  grid:
    "header" auto
    "content" 1fr
    "footer" auto /
    auto;
}

header {
  grid-area: header;
  background: green;
  padding: 20px;
}

.content {
  grid-area: content;
  padding: 20px;
}

footer {
  grid-area: footer;
  padding: 20px;
}